img {
  width: 100%;
  height: auto;
}
body {
  background-color: var(--farve_2);
}
/* HEADER START */

header {
  background-color: var(--farve_4);
  border-radius: 50px;
  height: 100px;
  position: sticky;
  align-items: center;
  z-index: 10;
}
.logo_header {
  height: 75px;
  width: auto;
  margin-left: 30px;
  align-self: center;
}
.moon {
  height: 50px;
  align-self: center;
}
/* DESKTOP */
header {
  display: flex;
}
.navmenu {
  display: flex;
  flex-direction: row;
}

/* MOBILE */
@media screen and (max-width: 800px) {
}

/* HEADER SLUT */
/* FOOTER START */
footer {
  background-color: var(--farve_4);
  border-radius: 30px;
  padding-bottom: 50px;
}
.footer_text1 {
  color: var(--farve_2);
  font-size: 32px;
  text-align: center;
}
.footer_text2 {
  color: var(--farve_2);
  font-size: 24px;
  text-align: center;
}
.telefon_footer {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.footer_grid2 {
  align-items: center;
}
.footer_grid3 {
  display: grid;
  row-gap: 5px;
}

@media screen and (min-width: 768px) {
  .footer_grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .footer_grid2 {
    display: flex;
    gap: 30px;
    padding: 0;
    justify-content: center;
  }
  .footer_grid2 > * {
    margin: 0;
  }
  footer {
    padding-bottom: 0;
  }
}
/* FOOTER SLUT */

/* GENERELLE ANIMATIONER */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main {
  animation: fade-in 2s ease-in;
}
/* VARIABLER */
html {
  /* FONTS */
  --font-family-poppins: "Poppins", sans-serif;

  /* WEIGHTS */
  --medium: 500;
  --bold: 700;
  --black: 900;

  /* FONT SIZE */
  --headline1-size: 64px;
  --headline2-size: 36px;
  --headline3-size: 24px;
  --p-size: 20px;

  /* BORDER */
  --border-radius-cta: 30px;
  --border-radius-img: 5px;
  --border-weight-img: 10px;

  /* SHADOW */
  --shadow: 0px 3px 4px #00000;
  /* FARVER LIGHTMODE */
  --farve_1: #bc2320;
  --farve_2: #eeeae2;
  --farve_3: #e98496;
  --farve_4: #20140d;
  /* FARVER DARKMODE */
  --farve_1_dm: #e14f4c;
  --farve_2_dm: #4c4842;
  --farve_3_dm: #f1b1bd;
  --farve_4_dm: #9c613f;
}
