img {
  width: 100%;
  height: auto;
}
body {
  background-color: var(--farve_2);
}
/* HEADER START */

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--farve_4);
  border-radius: 50px;
  height: 150px;
  position: sticky;
  z-index: 10;
  align-items: center;
}
.logo_header {
  height: 75px;
  width: auto;
  margin-left: 30px;
  margin-right: 100px;
}

/* DESKTOP */
.navmenu {
  display: flex;
  flex-direction: row;
  gap: 100px;
  list-style: none;
}
.navmenu a {
  text-decoration: none;
  color: var(--farve_2);
  font-family: var(--font-family-poppins);
  font-weight: var(--black);
  font-size: var(--headline3-size);
  white-space: nowrap;
}
.navmenu a:hover {
  color: var(--farve_1);
}
.nav_group {
  display: flex;
  align-items: center;
  gap: 30px;
}
.burger {
  display: none;
  order: -1;
}

/* MOBILE */
@media screen and (max-width: 800px) {
  .navmenu {
    display: none;
  }

  .burger {
    display: block;
    width: 75px;
    height: auto;
  }
  .logo_header {
    margin-right: 50px;
  }
  nav.active .navmenu {
    display: block;
    background-color: var(--farve_4);
    position: absolute;
    left: 0;
    top: 84px;
    width: 100%;
    z-index: 1;
    border-radius: 15px;
  }
  #moon_dm {
    margin-left: 50px;
  }
}
@media screen and (max-width: 1000px) {
  .navmenu {
    gap: 10px;
  }
}
.header_knapper {
  display: flex;
  align-items: center;
  gap: 0;
}
/* DARK MODE */
#moon_dm {
  height: 40px;
  margin-left: 50px;
}
button,
img {
  background: transparent;
}
button {
  border: none;
}
/* HEADER SLUT */
/* FOOTER START */
footer {
  background-color: var(--farve_4);
  border-radius: 30px;
  padding-bottom: 50px;
}
.stjerne_footer {
  height: 250px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.footer_text1 {
  color: var(--farve_2);
  font-size: 32px;
  font-family: var(--font-family-poppins);
  font-weight: var(--black);
  margin-bottom: 0;
}
.footer_text2 {
  color: var(--farve_2);
  font-size: 24px;
  font-family: var(--font-family-poppins);
  font-weight: var(--black);
}
.telefon_footer {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.footer_grid2 {
  align-items: center;
}
.footer_grid3 {
  display: grid;
  row-gap: 5px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer_grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .footer_grid2 {
    display: flex;
    gap: 30px;
    padding: 0;
    justify-content: center;
  }
  .footer_grid2 > * {
    margin: 0;
  }
  footer {
    padding-bottom: 0;
  }
  .footer_grid3 {
    text-align: left;
  }
}
/* FOOTER SLUT */

/* GENERELLE ANIMATIONER */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
main {
  animation: fade-in 2s ease-in;
}
@media screen and (min-width: 800px) {
  main {
    margin-right: 50px;
    margin-left: 50px;
  }
}
/* VARIABLER */
html {
  /* FONTS */
  --font-family-poppins: "Poppins", sans-serif;

  /* WEIGHTS */
  --medium: 500;
  --bold: 700;
  --black: 900;

  /* FONT SIZE */
  --headline1-size: 64px;
  --headline2-size: 36px;
  --headline3-size: 24px;
  --p-size: 20px;

  /* BORDER */
  --border-radius-cta: 30px;
  --border-radius-img: 5px;
  --border-weight-img: 10px;

  /* SHADOW */
  --shadow: 0px 3px 4px #00000;
}
:root {
  /* FARVER LIGHTMODE */
  --farve_1: #bc2320;
  --farve_2: #eae4d8;
  --farve_3: #e98496;
  --farve_4: #20140d;
}
/* FARVER DARKMODE */
body.dark {
  --farve_1: #e14f4c;
  --farve_2: #4c4842;
  --farve_3: #f1b1bd;
  --farve_4: #9c613f;
}
