.tema_herobanner {
  background-color: var(--farve_1);
}
#pink_herobanner {
  background-color: var(--farve_3);
}
.tema_herobanner img {
  width: 400px;
}
.tematitel {
  font-family: var(--font-family-poppins);
  font-size: var(--headline1-size);
  color: var(--farve_2);
  font-weight: var(--black);
  word-break: break-word;
}
/* IMG */
.img_tema {
  border: solid 10px var(--farve_3);
  border-radius: 15px;
  margin-top: 25px;
  margin-bottom: 0;
  width: 500px;
}
.img_tema_2 {
  border: solid 10px var(--farve_3);
  max-width: 200px;
  border-radius: 15px;
  margin-top: 25px;
  margin-bottom: 0;
}
.dobbelt_img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
}
/* SKILLS */

.skills {
  color: var(--farve_2);
  background-color: var(--farve_3);
  border-radius: 30px;
  border: 1px solid var(--farve_1);
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  font-size: var(--p_size);
  font-weight: var(--bold);
  font-family: var(--font-family-poppins);
}
.nye_skills {
  color: var(--farve_1);
  font-family: var(--font-family-poppins);
  font-size: var(--headline3-size);
  font-weight: var(--black);
}
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.skills {
  animation: pulse 3s ease-in-out infinite;
}

.h3_tema {
  color: var(--farve_1);
  font-size: var(headline3-size);
  font-weight: var(--black);
  font-family: var(--font-family-poppins);
}
.opgavetitel {
  color: var(--farve_1);
  font-family: var(--font-family-poppins);
  font-weight: var(--black);
  font-size: var(--headline1-size);
  text-align: center;
}
.p_tema {
  font-family: var(--font-family-poppins);
  font-size: var(--p-size);
  color: var(--farve_4);
  font-weight: var(--medium);
}
.text_div {
  background-color: #f6f6f6;
  border-radius: 15px;
  padding: 25px;
}
.tema_grid2 {
  background-color: #f6f6f6;
  border-radius: 15px;
  padding: 25px;
  margin-bottom: 100px;
}

.link_knap {
  color: var(--farve_2);
  background-color: var(--farve_3);
  border-radius: 15px;
  border: 1px solid var(--farve_1);
  padding: 5px;
  width: fit-content;
  font-family: var(--font-family-poppins);
  font-weight: var(--bold);
  font-size: var(--p-size);
}
.link_knap:hover {
  background-color: var(--farve_1);
}
a {
  text-decoration: none;
}
.billedtekst {
  color: var(--farve_4);
  font-family: var(--font-family-poppins);
  font-weight: var(--black);
  font-size: var(--p-size);
  margin-bottom: 50px;
}

@media screen and (min-width: 864px) {
  .tema_herobanner {
    display: grid;
    grid-template-columns: 1fr 1fr;

    border-radius: 15px;
    gap: 75px;
    padding: 50px;
  }
  .tema_grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    gap: 100px;
  }
  .skill_section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
  }
  .nye_skills {
    text-align: center;
  }
}
